@media (max-width: 1024px) {
    .container {
        max-width: 680px;
    }
    .services {
        padding-top: 80px;
        &__content {
            padding: 0;
            flex-direction: column;
            align-items: center;
        }
        &__descr {
            width: 545px;
            padding: 0 0 64px 0;
            margin: 0 auto;
            text-align: center;
            &-title {
                width: 100%;
            }
            &-text {
                margin: 0 auto;
                max-width: 447px;
            }
        }
        &__img {
            img {
                position: inherit;
            }
        }
    }
    
}
@media (max-width: 576px) {
    .container {
        max-width: 576px;
    }
    
        
    
}